<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logfile" xsi:type="File" fileName="Teardown Mod Manager.log" />
    <target name="logconsole" xsi:type="Console" />
    <target xsi:type="OutputDebugString" name="debuglog" layout="${message} ${exception}|${logger}|${all-event-properties}" />
    <target xsi:type="Debugger" name="debuglog" layout="${message} ${exception}|${logger}|${all-event-properties}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="logconsole" />
    <logger name="*" minlevel="Debug" writeTo="logfile" />
  </rules>
</nlog>